@import '~antd/dist/antd.css';


.dataBar{
width:600px;
height:80px;	
position: absolute;
top: 80%;
margin-top: -20px;
left: 10%;
margin-left: -0px;
margin-right: -60px;
}
.photo{
width:80px;
height:80px;	
position: absolute;
top: 50%;
margin-top: -20px;
left: 50%;
margin-left: -25px;
margin-right: -60px;
}


.btn1{
width:80px;
height:100px;	
top: 80%;
margin-bottom: -10px;
left: 50%;
margin-left: -50px;
}
.btn2{
width:80px;
height:100px;	
top: 80%;
margin-bottom: -10px;
left: 50%;
margin-left: -50px;	
}

